# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset (consider using a left join)
school_student = school_data.merge(student_data, left_on="school_name", right_on="school_name")
school_student.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

In [19]:
# Calculate the Totals (Schools and Students)
total_students = len(school_student["student_name"])


total_schools = school_student.groupby("school_name")["school_name"].nunique()
total_schools.sum()

# Calculate the Total Budget
budget_total = school_student[["school_name","budget"]].drop_duplicates()
budget_total["budget"].sum()

# Calculate the Average Scores
avg_math = school_student["math_score"]
avg_math.mean()

avg_read = school_student["reading_score"]
##avg_read.mean_()
# Calculate the Percentage Pass Rates

reading_pass = school_student["reading_score"]>=70
reading_pass = reading_pass.sum()

reading_pass = reading_pass/total_students
reading_pass

math_pass = school_student["math_score"]>=70
math_pass = math_pass.sum()

math_pass = math_pass/total_students
math_pass

both_pass = len(school_student[(school_student["reading_score"]>=70)&(school_student["math_score"]>=70)])

both_pass = both_pass/total_students
both_pass


# Minor Data Cleanup

# Display the data frame
school_student

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## School Summary

In [20]:
# Determine the School Type
school_type = school_student["type"]
school_type = school_student[["school_name","type"]].drop_duplicates()
school_type

# Calculate the total student count
school_type = school_student[["school_name","type","size"]].drop_duplicates()
school_type.index=school_type.school_name

# Calculate the total school budget and per capita spending
#per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
school_type = school_student[["school_name","type","size","budget"]].drop_duplicates()
school_type["per_student_budget"] = school_type["budget"]/school_type["size"]
school_type=school_type.set_index("school_name")
#school_type
# Calculate the average test scores
average_scores = school_student.groupby("school_name")[["reading_score", "math_score"]].mean()
average_scores

school_df = pd.merge(school_type,average_scores, left_index=True, right_index=True)

#school_df
# Calculate the passing scores by creating a filtered data frame

pass_math = school_student[school_student.math_score>=70]
pass_math = pass_math.groupby("school_name")["math_score"].count()
school_type["number_passed_math"]= pass_math
school_type["Math Pass Rate"] = school_type["number_passed_math"]/school_type["size"]*100
#school_type

pass_read = school_student[school_student.reading_score>=70]
pass_read = pass_read.groupby("school_name")["reading_score"].count()
school_type["number_passed_read"]= pass_read
school_type["Reading Pass Rate"] = school_type["number_passed_read"]/school_type["size"]*100
#school_type

Overall_Rate = (school_type["Reading Pass Rate"] + school_type["Math Pass Rate"])/2
school_type["Overall_Rate"] = (school_type["Math Pass Rate"] + school_type["Reading Pass Rate"])/2

school_type_df = pd.merge(school_type, average_scores, how="left", on="school_name")
school_final = school_type_df.rename(columns = {"per_student_budget":"Student Budget","number_passed_math": "Passed Math", "number_passed_read": "Passed Reading", "reading_score": "Average Reading Score","math_score":"Average Math Score"})
school_final
# Convert to data frame

# Minor data munging

# Display the data frame

,type,size,budget,Student Budget,Passed Math,Math Pass Rate,Passed Reading,Reading Pass Rate,Overall_Rate,Average Reading Score,Average Math Score
school_name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,1916,65.683922,2372,81.316421,73.500171,81.182722,76.629414
Figueroa High School,District,2949,1884411,639.0,1946,65.988471,2381,80.739234,73.363852,81.158020,76.711767
Shelton High School,Charter,1761,1056600,600.0,1653,93.867121,1688,95.854628,94.860875,83.725724,83.359455
Hernandez High School,District,4635,3022020,652.0,3094,66.752967,3748,80.862999,73.807983,80.934412,77.289752
Griffin High School,Charter,1468,917500,625.0,1371,93.392371,1426,97.138965,95.265668,83.816757,83.351499
Wilson High School,Charter,2283,1319574,578.0,2143,93.867718,2204,96.539641,95.203679,83.989488,83.274201
Cabrera High School,Charter,1858,1081356,582.0,1749,94.133477,1803,97.039828,95.586652,83.975780,83.061895
Bailey High School,District,4976,3124928,628.0,3318,66.680064,4077,81.933280,74.306672,81.033963,77.048432
Holden High School,Charter,427,248087,581.0,395,92.505855,411,96.252927,94.379391,83.814988,83.803279
Pena High School,Charter,962,585858,609.0,910,94.594595,923,95.945946,95.270270,84.044699,83.839917
Wright High School,Charter,1800,1049400,583.0,1680,93.333333,1739,96.611111,94.972222,83.955000,83.682222
Rodriguez High School,District,3999,2547363,637.0,2654,66.366592,3208,80.220055,73.293323,80.744686,76.842711
Johnson High School,District,4761,3094650,650.0,3145,66.057551,3867,81.222432,73.639992,80.966394,77.072464
Ford High School,District,2739,1763916,644.0,1871,68.309602,2172,79.299014,73.804308,80.746258,77.102592
Thomas High School,Charter,1635,1043130,638.0,1525,93.272171,1591,97.308869,95.290520,83.848930,83.418349

## Top Performing Schools (By Passing Rate)

# Sort and show top five schools
best_five = school_type.sort_values("Math Pass Rate", ascending=False)
best_five.head(5)

In [21]:
best_five = school_final.sort_values("Overall_Rate", ascending=False) 
best_five.head(5)

,type,size,budget,Student Budget,Passed Math,Math Pass Rate,Passed Reading,Reading Pass Rate,Overall_Rate,Average Reading Score,Average Math Score
school_name,,,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,1749,94.133477,1803,97.039828,95.586652,83.975780,83.061895
Thomas High School,Charter,1635,1043130,638.0,1525,93.272171,1591,97.308869,95.290520,83.848930,83.418349
Pena High School,Charter,962,585858,609.0,910,94.594595,923,95.945946,95.270270,84.044699,83.839917
Griffin High School,Charter,1468,917500,625.0,1371,93.392371,1426,97.138965,95.265668,83.816757,83.351499
Wilson High School,Charter,2283,1319574,578.0,2143,93.867718,2204,96.539641,95.203679,83.989488,83.274201

## Bottom Performing Schools (By Passing Rate)

In [22]:
# Sort and show bottom five schools
best_five = school_final.sort_values("Overall_Rate", ascending=True) 
best_five.head(5)

,type,size,budget,Student Budget,Passed Math,Math Pass Rate,Passed Reading,Reading Pass Rate,Overall_Rate,Average Reading Score,Average Math Score
school_name,,,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,2654,66.366592,3208,80.220055,73.293323,80.744686,76.842711
Figueroa High School,District,2949,1884411,639.0,1946,65.988471,2381,80.739234,73.363852,81.158020,76.711767
Huang High School,District,2917,1910635,655.0,1916,65.683922,2372,81.316421,73.500171,81.182722,76.629414
Johnson High School,District,4761,3094650,650.0,3145,66.057551,3867,81.222432,73.639992,80.966394,77.072464
Ford High School,District,2739,1763916,644.0,1871,68.309602,2172,79.299014,73.804308,80.746258,77.102592

## Math Scores by Grade

In [23]:
# Create data series of scores by grade levels using conditionals
ninth_grade = school_student["grade"] == "9th"
score_ninth = school_student.loc[ninth_grade]
group_ninth = score_ninth.groupby(["school_name"])
grading_ninth = group_ninth["math_score"].mean()
grading_ninth

tenth_grade = school_student["grade"] == "10th"
score_tenth = school_student.loc[tenth_grade]
group_tenth = score_tenth.groupby(["school_name"])
grading_tenth = group_tenth["math_score"].mean()
grading_tenth

eleven_grade = school_student["grade"] == "11th"
score_eleven = school_student.loc[eleven_grade]
group_eleven = score_eleven.groupby(["school_name"])
grading_eleven = group_eleven["math_score"].mean()
grading_eleven

twelth_grade = school_student["grade"] == "12th"
score_twelth = school_student.loc[twelth_grade]
group_twelth = score_twelth.groupby(["school_name"])
grading_twelth = group_twelth["math_score"].mean()
grading_twelth

grade_value = {"9th":grading_ninth, "10th":grading_tenth,"11th":grading_tenth,"12th":grading_twelth}
score = pd.DataFrame(grade_value)
score

# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  76.996772  76.492218
Cabrera High School    83.094697  83.154506  83.154506  83.277487
Figueroa High School   76.403037  76.539974  76.539974  77.151369
Ford High School       77.361345  77.672316  77.672316  76.179963
Griffin High School    82.044010  84.229064  84.229064  83.356164
Hernandez High School  77.438495  77.337408  77.337408  77.186567
Holden High School     83.787402  83.429825  83.429825  82.855422
Huang High School      77.027251  75.908735  75.908735  77.225641
Johnson High School    77.187857  76.691117  76.691117  76.863248
Pena High School       83.625455  83.372000  83.372000  84.121547
Rodriguez High School  76.859966  76.612500  76.612500  77.690748
Shelton High School    83.420755  82.917411  82.917411  83.778976
Thomas High School     83.590022  83.087886  83.087886  83.497041
Wilson High School     83.085578  83.724422  83.724422  83.035794
Wright High School     83.264706  84.010288  84.010288  83.644986

## Reading Score by Grade

In [24]:
# Create data series of scores by grade levels using conditionals
ninth_grade = school_student["grade"] == "9th"
ninth_grade = school_student == "9th"
score_ninth = school_student.loc[ninth_grade]
group_ninth = score_ninth.groupby(["school_name"])
grading_ninth = group_ninth["reading_score"].mean()
grading_ninth

tenth_grade = school_student["grade"] == "10th"
score_tenth = school_student.loc[tenth_grade]
group_tenth = score_tenth.groupby(["school_name"])
grading_tenth = group_tenth["reading_score"].mean()
grading_tenth

eleven_grade = school_student["grade"] == "11th"
score_eleven = school_student.loc[eleven_grade]
group_eleven = score_eleven.groupby(["school_name"])
grading_eleven = group_eleven["reading_score"].mean()
grading_eleven

twelth_grade = school_student["grade"] == "12th"
score_twelth = school_student.loc[twelth_grade]
group_twelth = score_twelth.groupby(["school_name"])
grading_twelth = group_twelth["reading_score"].mean()
grading_twelth

grade_value = {"9th":grading_ninth, "10th":grading_tenth,"11th":grading_tenth,"12th":grading_twelth}
score = pd.DataFrame(grade_value)
score
# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

/Users/trevordoucet/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

ValueError: Cannot index with multidimensional key

## Scores by School Spending

In [25]:
# Establish the bins -- choose any set of bins you would like, but see below for testing bins
# to test, set your bins as follows: [0, 585, 615, 645, 675]
# ALSO -- Note that the values for `% Passing Math`, `% Passing Reading` and `% Overall Passing Rate`
# were computed using averages of averages -- your results may vary if you use weighted averages 
budget_bin = [0, 585, 615, 645, 675]
budget_labels = [" < $585","$585 - 615","$615 - 645", "$645 - 675"]
school_final["Student Budget"] = pd.cut(school_final)["Student Budget"],budget_bin,labels = budget_labels
spend_group = school_final.groupby(["Student Budget"]).mean()

average_math = school_final.groupby(["Student Budget"]).mean()["Average Math Score"]
average_reading = school_final.groupby(["Student Budget"]).mean()["Average Reading Score"]
passing_math = school_final.groupby(["Student Budget"]).mean()["Math Pass Rate"]
passing_reading = school_final.groupby(["Student Budget"]).mean()["Reading Pass Rate"]
overall = (passing_math + passing_reading) / 2

spend_group = pd.DataFrame({"Average Math Score" : average_math,
      "Average Reading Score": average_reading,
      "Reading Pass Rate": passing_reading,
      "Math Pass Rate": passing_math,
      "Overall_Rate":overall})


spend_group

# Categorize the spending based on the bins

# Assemble into data frame

# Minor data munging

# Display results

ValueError: Length of values does not match length of index

## Scores by School Size

In [27]:
# Establish the bins 
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Categorize the spending based on the bins
school_final["size"] = pd.cut(school_final["size"], size_bins, labels=group_names)
# Calculate the scores based on bins
average_math = school_final.groupby(["size"]).mean()["Average Math Score"]
average_reading = school_final.groupby(["size"]).mean()["Average Reading Score"]
passing_math = school_final.groupby(["size"]).mean()["Math Pass Rate"]
passing_reading = school_final.groupby(["size"]).mean()["Reading Pass Rate"]
overall = (passing_math + passing_reading) / 2

size_summary = pd.DataFrame({"Average Math Score":average_math,
      "Average Reading Score": average_reading,
      "Math Pass Rate": passing_math,
      "Reading Pass Rate": passing_reading,
      "Overall_Rate": overall})

size_summary

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Type

In [16]:
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing Rate

average_math = school_final.groupby(["type"]).mean()["Average Math Score"]
average_reading = school_final.groupby(["type"]).mean()["Average Reading Score"]
passing_math = school_final.groupby(["type"]).mean()["Math Pass Rate"]
passing_reading = school_final.groupby(["type"]).mean()["Reading Pass Rate"]
overall = (passing_math + passing_reading) / 2

type_summary = pd.DataFrame({"Average Math Score":average_math,
      "Average Reading Score": average_reading,
      "Reading Pass Rate": passing_reading,
      "Math Pass Rate": passing_math,
      "Overall_Rate": overall})

type_summary

# Assemble into data frame

# Minor data munging

# Display results

,Average Math Score,Average Reading Score,Reading Pass Rate,Math Pass Rate,Overall_Rate
type,,,,,
Charter,83.473852,83.896421,96.586489,93.620830,95.103660
District,76.956733,80.966636,80.799062,66.548453,73.673757